@model Biblioteca_MVC.Models.Libro

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>Editar libro</h1>
<div class=" d-flex justify-content-end">
    <br />
    <a class="btn btn-sm btn-dark" asp-action="Stock">Volver a la lista</a>
</div>
<hr />
<div class="row align-items-center justify-content-center">
    <div class="col-md-8 formulario">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ISBN" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantPaginas" class="control-label"></label>
                <input asp-for="CantPaginas" class="form-control" />
                <span asp-validation-for="CantPaginas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioCompra" class="control-label"></label>
                <input asp-for="PrecioCompra" class="form-control" />
                <span asp-validation-for="PrecioCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioAlquiler" class="control-label"></label>
                <input asp-for="PrecioAlquiler" class="form-control" />
                <span asp-validation-for="PrecioAlquiler" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Alquilado" /> @Html.DisplayNameFor(model => model.Alquilado)
                </label>
            </div><br />
            <div class="form-group">
                <label asp-for="FechaDevolucionEnDias" class="control-label"></label>
                <input asp-for="FechaDevolucionEnDias" class="form-control" />
                <span asp-validation-for="FechaDevolucionEnDias" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar cambios" class="btn btn-sm btn-dark" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
