
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <header class="text-center mt-4">
        <h2 class="mb-4">Biblioteca El Principito</h2>
    </header>
    <main>
        <div class="row">
            <div class="col-lg-6">
                <img src="https://pbs.twimg.com/media/DL3uYVBXUAEyoY4?format=jpg&name=medium" class="imagen-bienvenida img-fluid" alt="Biblioteca El Principito">
            </div>
            <div class="col-lg-6">
                <p class="lead">Bienvenido al gestor de biblioteca de <strong>El Principito</strong>. En este gestor vas a encontrar todas las herramientas necesarias para administrar de manera eficiente tu biblioteca.</p>
                <p class="lead">Con nuestro sistema, podrás gestionar el inventario de libros en stock, verificar los libros alquilados y solicitar libros a su proveedor.</p>
                <p class="lead">Nuestro objetivo es brindarte una experiencia de administración sencilla y eficaz, para que puedas dedicar más tiempo a ofrecer un excelente servicio a los amantes de la lectura.</p>
                <p class="lead">Estamos comprometidos en proporcionarte las herramientas necesarias para mantener la biblioteca en orden para así garantizar el acceso a una amplia variedad de libros.</p>
                <p class="lead">¡Explorá las funcionalidades del gestor de biblioteca de <strong>El Principito</strong> y disfrutá de una administración sin complicaciones!</p>
            </div>
        </div>
    </main>
</div>